@use "../abstracts/colors" as c;
@use "../base/typography" as t;
@use "../abstracts/variables" as v;

body,
input,
button {
  font-family: t.$body-font;
  font-size: t.$normal-font-size;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background 400ms;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: t.$font-medium;
}

header {
  height: v.$header-height;
}

button {
  outline-color: transparent;
  border: none;
}

input {
  border: none;
}
