$first-color: hsl(260, 100%, 66%);
$second-color: hsl(328, 100%, 66%);

$gradient-color: linear-gradient(75deg, $second-color 12%, $first-color 90%);

$text-color-light: hsl(260, 16%, 65%);
$white-color: hsl(0, 0%, 100%);
$body-color: hsl(260, 100%, 97%);

$heart-color: hsl(0, 91%, 50%);
$heart-color-bg: hsla(0, 91%, 49%, 0.1);

$header-blur: hsla(0, 0%, 100%, 0.3);

:root {
  --body-color: hsl(260, 100%, 97%);
  --text-color: hsl(260, 24%, 32%);
  --title-color: hsl(260, 80%, 18%);
  --container-color: hsl(0, 0%, 100%);
  --header-blur: hsla(0, 0%, 100%, 0.3);
  --footer-bg: hsl(260, 80%, 18%);
}
