$breakpoint-largest: 1800px;
$breakpoint-larger: 1152px;
$breakpoint-large: 1024px;
$breakpoint-medium: 767px;
$breakpoint-medium-small: 600px;
$breakpoint-small: 375px;
@mixin screen($size, $type: min, $pixels: $breakpoint-small) {
  @if $size == "small" {
    @media screen and ($type + -width: $breakpoint-small) {
      @content;
    }
  } @else if $size == "med-small" {
    @media screen and ($type + -width: $breakpoint-medium-small) {
      @content;
    }
  } @else if $size == "medium" {
    @media screen and ($type + -width: $breakpoint-medium) {
      @content;
    }
  } @else if $size == "large" {
    @media screen and ($type + -width: $breakpoint-large) {
      @content;
    }
  } @else if $size == "larger" {
    @media screen and ($type + -width: $breakpoint-larger) {
      @content;
    }
  } @else if $size == "largest" {
    @media screen and ($type + -width: $breakpoint-largest) {
      @content;
    }
  } @else {
    @content;
  }
}
