@use "../abstracts/colors" as c;

.btn--primary {
  display: flex;
  align-items: center;
  width: max-content;
  margin-inline: auto;
  margin-top: 1.5rem;
  gap: 0.25em;
  background: c.$gradient-color;
  padding: 0.5em 1em;
  border-radius: 50px;
  color: c.$white-color;
  cursor: pointer;

  a {
    color: c.$white-color;
  }

  i {
    font-size: 1.5rem;
    transition: transform 300ms;
  }

  &:hover {
    i {
      transform: translateX(0.25rem);
    }
  }
}
