@use "../abstracts/colors" as c;
@use "../base/typography" as t;

.footer {
  background-color: var(--footer-bg);
  transition: background 400ms;
  color: c.$text-color-light;

  .grid {
    gap: 2rem;
  }

  h3 {
    color: inherit;
    font-size: var(--h2-font-size);
    margin-bottom: 0.5rem;
  }
}

.footer__logo {
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 1rem;
  background: c.$gradient-color;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.footer__description {
  row-gap: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid c.$text-color-light;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.footer__copy {
  font-size: var(--smaller-font-size);
  text-align: center;
}
