@use "../abstracts/colors" as c;
@use "../base/typography" as t;

.footer {
  background-color: var(--footer-bg);
  transition: background 400ms;
  color: c.$text-color-light;

  .grid {
    place-items: inherit;
  }

  h3 {
    color: inherit;
    font-size: t.$h2-font-size;
    margin-bottom: 0.5rem;
  }
}

.footer__logo {
  font-size: t.$h1-font-size;
  font-weight: t.$font-medium;
  margin-bottom: 1rem;
  background: c.$gradient-color;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.footer__contact {
  display: grid;
  gap: 2rem;
  border-bottom: 1px solid c.$text-color-light;
  padding-bottom: 2em;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.5rem;
}

.footer__copy {
  font-size: t.$smaller-font-size;
  text-align: center;
}
