@use "../base/typography" as t;
@use "../abstracts/colors" as c;

.section {
  padding-block: 5rem 1rem;
}

.home__container {
  text-align: center;
  row-gap: 4rem;
}

.home__title,
.section__title {
  text-align: center;
  font-size: t.$bigger-font-size;
  font-family: t.$second-font;
  margin-bottom: 1.5rem;
}

.home__title {
  position: relative;
  font-size: t.$biggest-font-size;
  line-height: 70px;
  z-index: -1;

  .home__box {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .home__colored-text {
    background: c.$gradient-color;
    padding: 0.3rem;
    border-radius: 7px;
    color: c.$body-color;
    transform: rotate(10deg);
  }
}

.home__container {
  .home__circle {
    margin-left: auto;
    width: 20px;
  }

  .home__star {
    position: absolute;
    top: 60%;
    left: 0;
    width: 50px;
    z-index: 1;
  }
}

.home__btn {
  margin-block: 2rem;
}

.home__info {
  display: flex;
  justify-content: space-between;
}

.info__num {
  font-size: t.$h1-font-size;
  font-weight: t.$font-medium;
}

// Influencers
// .influencers__container {
//   gap: 4rem;
// }
.influencers__image {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.influencers__number {
  color: c.$title-color;
  font-size: t.$h1-font-size;
  font-weight: t.$font-medium;
}

.image__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: c.$first-color-light;
  border-radius: 100px;
  height: 100px;
  width: 200px;
}

.influencers__info {
  position: relative;
  z-index: -1;
}

.influencers__star {
  position: absolute;
  top: 0.3rem;
  left: 0;
  width: 3rem;
}

.influencers__text {
  margin-top: 2rem;
}

.influencers__btn {
  display: flex;
  margin-inline: auto;
}

.next__btn {
  margin-left: -5.1rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;

  &:hover {
    i {
      transform: translateX(0.25rem);
      transition: transform 300ms;
    }
  }
}

// Health
.health__container {
  gap: 3rem;
}

.health__image__wrapper {
  position: relative;
  z-index: -1;
}
.health__tag {
  position: absolute;
  display: inline-flex;
  align-items: center;
  gap: 0.7rem;
  border-radius: 7px;
  background-color: c.$white-color;
  padding: 0.5em;
  font-size: t.$small-font-size;
}

.row {
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
}
.bottom {
  bottom: 0;
  right: 0;
}
.tag__number {
  background: c.$gradient-color;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.ri-heart-fill {
  color: c.$heart-color;
  background-color: c.$heart-color-bg;
  border-radius: 50%;
  border: 1px solid c.$heart-color;
  padding: 0.2em;
  font-size: 1rem;
}

.health__btn {
  display: flex;
  width: max-content;
  margin-top: 2rem;
  margin-inline: auto;
}
