@use "../abstracts/colors" as c;
@use "../base/typography" as t;

.section {
  padding-block: 5rem 1rem;
}

// Home section
.home__container {
  text-align: center;
  row-gap: 4rem;
}

.home__title,
.section__title {
  text-align: center;
  font-size: var(--bigger-font-size);
  font-family: t.$second-font;
  margin-bottom: 1.5rem;
}

.home__details {
  display: grid;
}
.home__title {
  position: relative;
  font-size: var(--biggest-font-size);
  line-height: 70px;
  z-index: -1;

  .home__box {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .home__colored-text {
    background: c.$gradient-color;
    padding: 0.3rem;
    border-radius: 20px;
    color: c.$white-color;
    transform: rotate(10deg);
  }
}

.home__container {
  .home__circle {
    margin-left: auto;
    width: 20px;
  }

  .home__star {
    position: absolute;
    top: 60%;
    left: 0;
    width: 50px;
    z-index: 1;
  }
}

.home__btn {
  margin-block: 2rem;
}

.home__info {
  display: flex;
  justify-content: space-around;
}

.info__num {
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
}

// Influencers section

.influencers__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.influencers__number {
  color: var(--title-color);
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
}

.image__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--container-color);
  transition: background 400ms;
  border-radius: 100px;
  height: 100px;
  width: 220px;
}

.influencers__info {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
}

.influencers__star {
  position: absolute;
  top: 0.3rem;
  left: 0;
  width: 3rem;
}

.influencers__text {
  margin-top: 2rem;
}

.influencers__btn {
  display: flex;
  margin-inline: auto;
}

.next__btn {
  margin-left: -5.1rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;

  a {
    color: var(--text-color);
  }

  &:hover {
    i {
      transform: translateX(0.25rem);
      transition: transform 300ms;
    }
  }
}

// Health section
.health__container {
  gap: 3rem;
}

.health__image__wrapper {
  position: relative;
  z-index: -1;
}
.health__tag {
  position: absolute;
  display: inline-flex;
  align-items: center;
  gap: 0.7rem;
  border-radius: 7px;
  background-color: var(--container-color);
  transition: background 400ms;
  padding: 0.5em;
  font-size: var(--small-font-) size;
}

.row {
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
}
.bottom {
  bottom: 0;
  right: 0;
}
.tag__number {
  background: c.$gradient-color;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.ri-heart-fill {
  color: c.$heart-color;
  background-color: c.$heart-color-bg;
  border-radius: 50%;
  border: 1px solid c.$heart-color;
  padding: 0.2em;
  font-size: 1rem;
}

.health__btn {
  display: flex;
  width: max-content;
  margin-top: 2rem;
  margin-inline: auto;
}

// Routine section
.routine__container {
  gap: 3rem;
}

.routine__img__wrapper {
  position: relative;
  z-index: -1;
  height: 18rem;
  max-width: 280px;
  margin-inline: auto;
  img {
    width: 240px;
    border: 5px solid var(--container-color);
    transition: border 400ms;
    border-radius: 100px;
  }

  .routine-img-2 {
    position: absolute;
    left: 1.2rem;
    bottom: 0.5rem;
    z-index: -1;
  }
}

.routine__tag {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  background-color: var(--container-color);
  transition: background 400ms;
  padding: 0.25em;
  border-radius: 10px;

  .tags__text,
  i {
    font-size: var(--smaller-fon) t-size;
    background: c.$gradient-color;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
}

.video-tag {
  top: 1rem;
  right: 0;
}

.trainer-tag {
  left: -1rem;
  bottom: 2rem;
}

//Follow
.follow__container {
  justify-items: center;
  row-gap: 2rem;

  img {
    border: 5px solid var(--container-color);
    transition: border 400ms;
    border-radius: 100px;
    z-index: -1;
  }
}

.hashtag {
  background: c.$gradient-color;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.round {
  flex-direction: column;
  gap: 0;
  border-radius: 50%;
}

.follow__content-1 {
  display: grid;
  grid-template-columns: 130px 130px;
  row-gap: 0.5rem;
  column-gap: 1rem;
}

.follow__info {
  grid-column: span 2;
}

.follow__content-2 {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
}

.rotate-up,
.rotate-down {
  width: 230px;
}

.tall-img-2 {
  margin-top: 4rem;
}
.rotate-up {
  rotate: 15deg;
  transform: translateX(-1.5rem);
}

.rotate-down {
  margin-top: 1rem;
  rotate: -15deg;
  transform: translateX(1.5rem);
}

// Join section

.join__info {
  display: grid;
  row-gap: 1rem;
  justify-items: center;
  background: c.$gradient-color;
  padding: 2em 0.35em;
  color: c.$white-color;
  border-radius: 20px;

  .section__title {
    color: inherit;
    margin-bottom: 0;
    font-size: var(--h1-font-siz) e;
  }
}

.join__text {
  width: 90%;
  text-align: center;
  font-size: var(--small-font-) size;
}
.join__btn {
  width: 100%;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
